@import "header";

ol li {
  list-style-type: none;
}

.btn {
  display: inline-block;
  margin: 0.1rem;
}

.done_btn {
  margin: 0.1rem 0.1rem 0.1rem 0.5rem;
}

.activity_item {
  display: flex;
  padding: 0.5rem 1rem;
}

.log_session {
  position: relative;
  width: 100%;
}
.log_session_form {
  display: none;
  position: fixed;
  left: 20%;
  top: 10%;
  border: 3px solid #999;
  background-color: white;
}
