@import "header";

ol li {
  list-style-type: none;
}

.btn {
  display: inline-block;
  margin: 0.1rem;
}

.done_btn {
  margin: 0.1rem 0.1rem 0.1rem 0.5rem;
}

.activity_item {
  // display: flex;
  // position: relative;
  padding: 0.25rem 1rem;
  margin: 0.5rem;
  border-radius: 10rem;
  width: fit-content;
  border-style: solid;
}

.sub_category {
  // position: absolute;
  bottom: 0px;
}

.log_session {
  position: relative;
  width: 100%;
}
.log_session_form {
  display: none;
  position: fixed;
  left: 20%;
  top: 10%;
  border: 3px solid #999;
  background-color: white;
}

#id0 {
  border-color: aqua;
}

#id1 {
  border-color: rgb(255, 115, 0);
}
#id2 {
  border-color: rgb(0, 255, 0);
}
#id3 {
  border-color: rgb(255, 0, 0);
}
#id4 {
  border-color: rgb(0, 110, 255);
}
#id5 {
  border-color: rgb(255, 251, 0);
}
#id6 {
  border-color: rgb(251, 0, 255);
}
#id7 {
  border-color: rgb(0, 255, 47);
}
#id8 {
  border-color: rgb(255, 170, 0);
}
#id9 {
  border-color: rgb(255, 0, 144);
}
#id10 {
  border-color: rgb(153, 0, 255);
}
#id11 {
  border-color: rgb(255, 72, 0);
}
